body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden; /* Evita rolagem horizontal */
  background-color: #f4f4f4;
}

section {
  height: 100vh; /* Cada section ocupa 100% da altura da tela */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: #0077b6;
  color: white;
  height: 60px;
}


.navBar h1 {
  margin-right: 100px;
  font-size: 20px;
}


h1 {
  color: white;
  font-size: 24px;
  margin: 0;
}

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 2 colunas */
  grid-template-rows: repeat(
    2,
    auto
  ); /* 2 linhas, ajusta automaticamente o tamanho */
  padding: 40px;

  height: 80%;
  width: 100%;
  justify-items: center;
  align-items: center;
}

.parent > div {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  padding-bottom: 0px;
  min-height: 50%;
  width: 85%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.parent > div:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

p{
    margin: 5px;

    font-size: 18px;
    color: #0077b6;
    font-weight: bold;
    overflow-wrap: break-word;

}

.container {
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65%;
  width: 60%;
  padding: 30px;
}

.botoes{
  width: 90%;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px; /* Espaçamento entre os botões */
  margin-top: 20px; /* Espaçamento acima dos botões */
}

.botoes button{
  background-color: white;
  color: #0077b6;
  border: 1px solid #0077b6;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0077b6;
  color: white;
}

.infos{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px; /* Espaçamento acima dos botões */
}


/* Responsivo: ajusta para telas menores */
@media (max-width: 900px) {
  .parent {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .parent {
    grid-template-columns: 1fr;
  }
}

#fade, 
#modal{
  transition: 0.5s;
  opacity: 1;
  pointer-events: all;
}

#fade{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 5;
}

#modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 500px;
  max-width: 90%;
  max-height: 90%;
  padding: 1.2rem;
  border-radius: 0.5rem;
  z-index: 6;
}

.modal-header{
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.modal-body p{
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #333;
}

#close-modal{
  cursor: pointer;
  padding: .6rem 1.2rem;
  background-color: #888;
  color: #FFF;
  border: none;
  border-radius: .25rem;
  font-size: 1rem;
}


#modal.hide,
#fade.hide{
  opacity: 0;
  pointer-events: none;
}

#modal.hide{
  top: 0;
}

#modal p{
color: black;
}

#cryptoSelect{
  color: white;
  width: 200px;
  padding: 10px;
  background-color: #0077b6;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

option{
  background-color: white;
  color: #0077b6;
  padding: 10px;
  font-size: 16px;
}
